@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: "Roboto Condensed";
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
    align-content: flex-start;
}
.lista {
    margin-top: 10px;
}
.lista, #tarea, #button {
    border: 2px solid black;
    padding: 8px;
    font-size: 110%;
}
#tarea {
    width: 82%;
}
#check {
    float: left;
    height: 17px;
    width: 17px;
}
#button {
    float: right;
    background: none;
}
h1 {
    font-size: 33px;
    margin: 12px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    float: right;
    width: 15px;
    margin: 1px;
}
input:checked + span {
    text-decoration: line-through;
}
span {
    margin-left: 5px;
    line-break: anywhere;
    vertical-align: super;
}